:root {
  --body-bg-color: #e9f2e8;
  --text-color: #3e3732;
  --header-bg-color: #7da95c;
  --header-text-color: #ffffff;
  --primary-btn-bg-color: #7bc47f;
  --primary-btn-text-color: #ffffff;
  --secondary-btn-bg-color: #a7d8a6;
  --secondary-btn-text-color: #3e3732;
  --checkbox-btn-text-color: #7bc47f;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: "SF Pro Rounded", "SF Rounded", -apple-system, system-ui,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
    "San Francisco Rounded", "Helvetica Rounded";
  font-size: 1.2rem;
  line-height: 1.5;
}

header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 0 0;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

button {
  cursor: pointer;
}

button.primary {
  background-color: var(--primary-btn-bg-color);
  color: var(--primary-btn-text-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

button.secondary {
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-btn-bg-color);
  color: var(--secondary-btn-text-color);
}

button.primary.inactive {
  background-color: #aaa;
  color: var(--primary-btn-text-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
